<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <!-- create a link to 'show view' for each 'topic element' -->
            <%= link_to topic.name, topic %>
        </h4>
        <small>
            <%= topic.description %>
        </small>
    </div>
</div>
