<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>New Post to "<%= @post.title %>"</h1>
        <small>
            By: <%= @post.user.name %>
        </small>
        <p>
            <%= @post.body %>
        </p>
        <p>
            <!-- it's vary important to use 'topic_post_url', can't use 'topic_post_path' -->
            <!-- if use '_path', we will get 'relative URL', like 'topics/3', but when user open email, they are not in the app website, doesn't have base URL, so we need to define URL -->
            <!-- use '_url' to generates an 'absolute URL, like'http://myapp/topics/3' -->
            <!-- use 'anchor:' , an option of the 'link_in' method. It will add custom parameters to the URL, so 'http://myapp.com/topics/3' will become like 'myapp.com/topics/3/posts/...ts/5#comment-21' -->
            <!-- by using 'anchor:' we can link the user directly to the comment (need an 'id'tag after the URL, then browser will jump to that ID on the page) -->
            <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
        </p>
    </body>
</html>