<h1>All Advertisements</h1>

<% @advertisements.each do |element| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to element.title, element %>
      </h4>
    </div>
  </div>
<% end %>