<!-- the '.html.erb' file extension allow the HTML file to work with Ruby -->
<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button class="social-btn"><%= link_to "contact", "https://www.linkedin.com/in/yenchieh86" %></button>